// VARIABLES ***********************
$mainFont: 'Open Sans', sans-serif;

$site-width: 1100px;

/* Colors */
$placeholder: #ddd;
$darkgray: #373737;
$over_color: #4283b9;
$over_text: #2e567a;
$sci_color: #b62f29;
$adv_color: #908a00;
$sup_color: #016dd9;


$nav_height: 50px;
